<h2>Posts do <strong>{{ currentBlog.title }}</strong></h2>

<mat-card *ngIf="!hasData" style="background-color: #e2ef1b61;">
    Nenhum post feito até o momento :(
</mat-card>

<mat-form-field *ngIf="hasData" style="width: 100%;">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtro">
</mat-form-field>

<table *ngIf="hasData" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Título </th>
        <td mat-cell *matCellDef="let post"> {{post.title}} </td>
    </ng-container>

    <ng-container matColumnDef="subtitle">
        <th mat-header-cell *matHeaderCellDef> Subtítulo </th>
        <td mat-cell *matCellDef="let post"> {{post.subtitle}} </td>
    </ng-container>
    
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Data </th>
        <td mat-cell *matCellDef="let post"> {{post.date | date: 'dd/MM/yyyy' }} </td>
    </ng-container>
    
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 5%;"></th>
        <td mat-cell *matCellDef="let post">
            <button mat-raised-button>
                <mat-icon [routerLink]="['/blogs', currentBlogId, 'posts', post._id]">search</mat-icon>
            </button>
        </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
