<button mat-button (click)="backClicked()">
    <mat-icon>keyboard_backspace</mat-icon>
</button>

<!-- Post -->
<mat-card style="margin-top: 15px;">
    <mat-card-header>
        <mat-card-title>{{ currentPost.title }}</mat-card-title>
        <mat-card-subtitle *ngIf="currentPost.subtitle">
            {{ currentPost.subtitle }}
        </mat-card-subtitle>
    </mat-card-header>
    
    <mat-divider></mat-divider>
    
    <mat-card-content>
        <p>
            {{ currentPost.root_content }}
        </p>
        
        <!-- Sections -->
        <mat-card *ngFor="let section of currentPost.sections" style="margin-top: 15px;">
            <mat-card-header>
                <mat-card-title>{{ section.title }}</mat-card-title>
                <mat-card-subtitle *ngIf="section.subtitle">
                    {{ section.subtitle }}
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>{{ section.content }}</p>
                
                <!-- Subsections -->
                <mat-card *ngFor="let subSection of section.subSections" style="margin-top: 15px;">
                    <mat-card-header>
                        <mat-card-title>{{ subSection.title }}</mat-card-title>
                        <mat-card-subtitle *ngIf="subSection.subtitle">
                            {{ subSection.subtitle }}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{ subSection.content }}</p>
                    </mat-card-content>
                </mat-card>
                
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>