<button mat-button
    (click)="backClicked()">
    <mat-icon>keyboard_backspace</mat-icon>
</button>

<form [formGroup]="postForm" (ngSubmit)="onSubmit()" fxLayout="column">
    <mat-form-field>
        <input matInput placeholder="Título" formControlName="title">
        <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Subtítulo" formControlName="subtitle">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput placeholder="Conteúdo" formControlName="rootContent"></textarea>
        <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>

    <div>
        <button mat-raised-button type="submit" color="primary">Salvar</button>
    </div>
</form>