<button mat-button
(click)="backClicked()">
<mat-icon>keyboard_backspace</mat-icon>
</button>

<form [formGroup]="postForm" (ngSubmit)="onSubmit()" fxLayout="column">
    <mat-form-field>
        <input matInput placeholder="Título" formControlName="title">
        <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Subtítulo" formControlName="subtitle">
    </mat-form-field>
    
    <mat-form-field>
        <textarea matInput placeholder="Conteúdo" formControlName="rootContent"></textarea>
        <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>
    
    <div formArrayName="sections">
        <mat-card *ngFor="let section of sectionFormGroup.controls; let i = index;" style="margin-top: 15px;">
            <mat-card-title>Seção {{ i+1 }}</mat-card-title>
            <mat-card-content [formGroupName]="i" fxLayout="column">
                <div fxLayout="row" fxLayoutGap="5px">
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Título" formControlName="title">
                        <mat-error>Campo obrigatório</mat-error>
                    </mat-form-field>
                    
                    <mat-form-field fxFlex="50">
                        <input matInput placeholder="Subtítulo" formControlName="subtitle">
                    </mat-form-field>
                </div>
                
                <mat-form-field>
                    <textarea matInput placeholder="Conteúdo" formControlName="content"></textarea>
                    <mat-error>Campo obrigatório</mat-error>
                </mat-form-field>
                
            </mat-card-content>
            
            <div style="margin-left: auto">
                <button mat-raised-button (click)="removeSection(i)">Remover Seção</button>
            </div>
            
        </mat-card>
        
    </div>
    
    <div style="margin-top: 15px;">
        <button mat-raised-button (click)="addSection()" style="margin-right: 10px;">Nova Seção</button>
        <button mat-raised-button type="submit" color="primary">Salvar</button>
    </div>
</form>