<mat-toolbar class="header">    
    
    <mat-toolbar-row>
        <div [routerLink]="['/blogs']" class="logo">
            <img src="assets/images/logo.png" style="width: 45px; margin-right: 10px;">
            <span>
                Blog MongoDB
            </span>
        </div>
        
        <div *ngIf="loggedIn" style="margin-left: auto;">
            <span style="font-size: 16px;">Olá, {{ user.name }} </span>
            <button  mat-icon-button [matMenuTriggerFor]="menuLogout">
                <img src="{{ user.photoUrl }}" class="avatar">
            </button>
            <mat-menu #menuLogout="matMenu">
                <button mat-menu-item (click)="signOut()">Logout</button>
            </mat-menu>
        </div>
        
        <button *ngIf="!loggedIn" mat-icon-button [matMenuTriggerFor]="menu" style="margin-left: auto;">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="signInWithGoogle()">Login</button>
        </mat-menu>
        
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">
    <router-outlet></router-outlet>
</div>
