<mat-toolbar class="header">
    
    
    <mat-toolbar-row>
        <div [routerLink]="['/blogs']" class="logo">
            <img src="assets/images/logo.png" style="width: 45px; margin-right: 10px;">
            <span>
                Blog MongoDB
            </span>
        </div>
        
        <button mat-icon-button [matMenuTriggerFor]="menu" style="margin-left: auto;">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Login</button>
        </mat-menu>
        
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">
    <router-outlet></router-outlet>
</div>
